
---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
<h1>A Way Back</h1>
<div class="thumbnail">Placeholder Image</div>
<p><strong>Description:</strong> PC 2.5D Metroidvania</p>
<p><strong>Role:</strong> Game Designer</p>
<p><strong>Platform Link Type:</strong> Video Build</p>
<p><strong>Release Date:</strong> October 2023</p>
</Layout>
