
---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
<h1>Bound Survivors</h1>
<div class="thumbnail">Placeholder Image</div>
<p><strong>Description:</strong> PC co-op survivor</p>
<p><strong>Role:</strong> Game Designer</p>
<p><strong>Platform Link Type:</strong> Build</p>
<p><strong>Release Date:</strong> January 2024</p>
</Layout>
