
---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
<h1>Devoured</h1>
<div class="thumbnail">Placeholder Image</div>
<p><strong>Description:</strong> PC 2.5D creepy-cute survival</p>
<p><strong>Role:</strong> Game Designer & Project Manager</p>
<p><strong>Platform Link Type:</strong> Video Build</p>
<p><strong>Release Date:</strong> January 2024</p>
</Layout>
