
---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
<h1>Ice Slingers</h1>
<div class="thumbnail">Placeholder Image</div>
<p><strong>Description:</strong> Mobile PvPvE Slingshot mechanic game</p>
<p><strong>Role:</strong> Game Designer & Project Manager</p>
<p><strong>Platform Link Type:</strong> App Store</p>
<p><strong>Release Date:</strong> March 2025</p>
</Layout>
