
---
import Base from "../../layouts/Base.astro";
---
<Base>
  <h1>Projects</h1>
  <ul>
<li><a href="/projects/warriors-merge">Warriors Merge</a></li>
<li><a href="/projects/ice-slingers">Ice Slingers</a></li>
<li><a href="/projects/orbit-defense">Orbit Defense</a></li>
<li><a href="/projects/castle-force-td">Castle Force Td</a></li>
<li><a href="/projects/peg-slinger">Peg Slinger</a></li>
<li><a href="/projects/super-strike">Super Strike</a></li>
<li><a href="/projects/chaos-squad">Chaos Squad</a></li>
<li><a href="/projects/slime-hunt">Slime Hunt</a></li>
<li><a href="/projects/devoured">Devoured</a></li>
<li><a href="/projects/survive-the-void">Survive The Void</a></li>
<li><a href="/projects/mr-gish">Mr Gish</a></li>
<li><a href="/projects/a-way-back">A Way Back</a></li>
<li><a href="/projects/iris">Iris</a></li>
<li><a href="/projects/vertical-slice">Vertical Slice</a></li>
<li><a href="/projects/bound-survivors">Bound Survivors</a></li>
</ul></Base>