
---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
<h1>Iris</h1>
<div class="thumbnail">Placeholder Image</div>
<p><strong>Description:</strong> PC third-person puzzle adventure</p>
<p><strong>Role:</strong> Game Designer</p>
<p><strong>Platform Link Type:</strong> Video</p>
<p><strong>Release Date:</strong> October 2022</p>
</Layout>
