
---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
<h1>Mr.Gish</h1>
<div class="thumbnail">Placeholder Image</div>
<p><strong>Description:</strong> Mobile bubble shooter for social anxiety diagnosis</p>
<p><strong>Role:</strong> Lead Game Designer</p>
<p><strong>Platform Link Type:</strong> Video</p>
<p><strong>Release Date:</strong> May 2023</p>
</Layout>
