---
import Base from "../../layouts/Base.astro";
import project from "../../content/projects/orbit-defense.md";
---
<Base>
  <h1>{project.title}</h1>
  <img src={project.cover} class="zoomable" style="width:100%;border-radius:10px;">
  <p>{project.summary}</p>

  <h2>Gameplay Video</h2>
  <iframe width="100%" height="400" src={project.links.video} allowfullscreen></iframe>

  <h2>Gallery</h2>
  { project.gallery.map(img => `<img src="$<PIL.Image.Image image mode=RGB size=800x450 at 0x7EB727121720>" class='zoomable' style='width:100%;margin:10px 0;border-radius:10px;'>`).join("") }

</Base>
