
---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
<h1>Slime Hunt</h1>
<div class="thumbnail">Placeholder Image</div>
<p><strong>Description:</strong> Mobile simplified turn-based strategy</p>
<p><strong>Role:</strong> Game Designer & Project Manager</p>
<p><strong>Platform Link Type:</strong> App Store</p>
<p><strong>Release Date:</strong> August 2024</p>
</Layout>
