
---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
<h1>Super Strike!</h1>
<div class="thumbnail">Placeholder Image</div>
<p><strong>Description:</strong> Mobile auto battle puzzle RPG</p>
<p><strong>Role:</strong> Game Designer & Project Manager</p>
<p><strong>Platform Link Type:</strong> App Store</p>
<p><strong>Release Date:</strong> January 2025</p>
</Layout>
