
---
import Base from "../../layouts/Base.astro";
---
<Base>
  <h1 class="text-3xl font-bold mb-4">Vertical Slice</h1>
  <div class="placeholder-card mb-4">Gradient Cover</div>

  <p><strong>Description:</strong> PC short funny game-dev parody</p>
  <p><strong>Role:</strong> Game Designer</p>
  <p><strong>Link Type:</strong> Video Build</p>
  <p><strong>Release Date:</strong> February 2023</p>
</Base>
